.inventory-container {
  padding: 20px;
  font-family: Arial;
}

.inventory-container .alert {
  background: #ffe5e5;
  color: #b30000;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.inventory-container .job-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inventory-container .create-btn {
  background: rgba(13, 25, 78, 1);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.inventory-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:999;
}

.inventory-modal-box {
  background: white;
  padding: 15px;
  width: 350px;
  border-radius: 10px;
}

.inventory-modal-box input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cancel {
  background: #ccc;
  padding: 8px;
  border-radius: 6px;
}

.primary {
  background: #0d1b4c;
  color: white;
  padding: 8px;
  border-radius: 6px;
}

.delete {
  background: red;
  color: white;
  padding: 8px;
  border-radius: 6px;
}

.inventory-container table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-container td,
.inventory-container th {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.LowStock { background: red; }
.Medium { background: orange; }
.InStock { background: green; }

.cutoff-container {
  margin-top: 20px;
  border:1px solid #eee;
  padding :15px;
  border-radius:12px;
}

.cutoff-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.cut-card {
  background: #f5f6f8;
  padding: 15px;
  border-radius: 12px;
}

.cut-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pcs {
  background: #dbeafe;
  padding: 4px 10px;
  border-radius: 8px;
}